<input type="text" class="form-control" name="username" [(ngModel)]="username" (keyup)="search()" placeholder="Search...">
<br>
<div class="card" *ngIf="user">
  <div class="card-header">
    <span *ngIf="user.name">{{user.name}}</span>
    <span *ngIf="!user.name">{{user.login}}</span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img class="img-thumbnail" [src]="user.avatar_url" alt="users avatar" />
        <p class="text-muted">{{user.bio}}</p>
      </div>
      <div class="col-md-8">
        <div class="stats">
          <span class="alert alert-secondary">{{user.followers}} Followers</span>
          <span class="alert alert-secondary">Following {{user.following}}</span>
          <span class="alert alert-secondary">{{user.public_repos}} Public Repos</span>
          <span class="alert alert-secondary">{{user.public_gists}} Public Gists</span>
        </div>
        <br>
        <ul class="list-group">
          <li class="list-group-item">Username: {{user.login}}</li>
          <li class="list-group-item">Email: {{user.email}}</li>
          <li class="list-group-item">Location: {{user.location}}</li>
          <li class="list-group-item">Blog: <a href="{{user.blog}}">{{user.blog}}</a></li>
          <li class="list-group-item">Joined: {{user.created_at | timeago}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- repos -->
<br>
<div class="card" *ngIf="repos">
  <div class="card-header">
    <span *ngIf="user.name">{{user.name}} Repos</span>
    <span *ngIf="!user.name">{{user.login}} Repos</span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div *ngFor="let repo of repos">
          <div class="row">
            <div class="col-md-6">
              <h4><a href="{{repo.html_url}}">{{repo.name}}</a></h4>
              <p>{{repo.description}}</p>
            </div>
            <div class="col-md-6">
              <div class="stats">
                <span class="alert alert-secondary">{{repo.stargazers_count}} Stars</span>
                <span class="alert alert-secondary" *ngIf="repo.language">{{repo.language}}</span>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>